.timer {
    font-size: 70px;
    background-color: rgba(1, 51, 105, 1);
    padding-left: 15px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.mat-form-field {
    font-size: 40px;
    width: 88%;
}