<div class="timer">
  <!-- <div> 
    <span *ngIf="playMusic"><img src="./../../assets/images/play-sound.mp3"></span>
    <span *ngIf="!playMusic"><img src="./../../assets/images/stop-sound.mp3"></span>
  </div> -->
  <span *ngIf="!timesUp"> {{ timeRemaining }} </span>
  <span *ngIf="timesUp"> 00:00 </span>
  <button *ngIf="!isRunning" mat-button (click)="startTimer()">Start</button>
  <button *ngIf="isRunning" mat-button (click)="pauseTimer()">Pause</button>
  <button mat-button (click)="resetTimer()">Reset</button>
</div>
