.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav {
  background-color: rgba(213, 10, 10, 1);
  color: white;
  font-weight: thick;
  border-right: 1px white solid;
}

.sidebar {
  width: 400px;
}

.players {
  padding-top: 15px;
}

.indiv-players {
  padding-top: 8px;
  padding-bottom: 8px;

  &:hover {
    background-color: rgba(1, 51, 105, 1);
    cursor: pointer;
  }
}

.header {
  text-align: center;
  color: white;
  background-color: rgba(1, 51, 105, 1);
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 94px;

  &:hover {
    cursor: pointer;
  }
}

.drafting-team {
  background-color: rgba(213, 10, 10, 1);
  font-size: 24px;
  padding-top: 30px;

  mat-form-field {
    margin-left: 15px;
    width: 88%;
  }

  span {
    margin-left: 15px;
  }

  button {
    margin-left: 45%;
  }
}

.sticky {
  top: 0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
}