.teams {
    display: inline-block;
    width: 32.9%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;

}

.spinner {
    display: table;
    margin: 0 auto;
    margin-top: 20%;
}

.spinner-text {
    display: table;
    margin: 0 auto;
}

img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    // border: 1px solid black;
}

.row {
    display: flex;
}